---
title: Events
description: Displays many of the events I've participated in over the years. Upcoming ones too!
layout: generic
pagination:
  data: public_events
  size: 20
  alias: items
  reverse: true
---

{{ description }}

{% include 'pagination-count.html' %}

<ul class="posts">
  {% for item in items %}
    <li>
      <h4>
        {{ item.title }}
      </h4>
      <span class="date">
        <strong>Date:
        </strong>
        {{ item.date }} |
        <strong>Publication:
        </strong>
        {{ item.publication }} |
        <strong>Format:
        </strong>
        {% if item.url.length > 0 %}
          |
          <a href="{{ item.url }}" target="_blank">
            <strong>Link to Event</strong>
          </a>
        {% endif %}
      </span>
      {% if item.description %}
        {{ item.description }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %}