---js
{
  "title":"External Publications",
  "description": "Displays a list of all the external publications where I published articles. The list goes back into the early 2000s.",
  "layout": "generic",
  "pagination": {
    "data": "externalPublications",
    "size": 20,
    "alias": "items",
    "reverse": true,
    "before": function(data, fullData) { 
      return Array.from(data).sort((a, b) => {
        return a.date > b.date ? 1 : -1;
      });
    }
  },
  "headerImage": "/images/headers/header-publications.jpg",
  "headerImageAltText": "An image of some books on a table",
  "headerImageAttribution": "Photo by <a href=\"https://unsplash.com/@tamara_photography?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash\">Tamara Gak</a> on <a href=\"https://unsplash.com/photos/black-framed-eyeglasses-on-white-book-page-GWbIHT51VT4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash\">Unsplash</a>"
}
---

<p>Over my career, I published articles in a variety of different print and online publications. The following list is all articles in reverse chronological order.</p>

{% include 'pagination-count.html' %}

<ul class="posts">
  {% for item in items %}
    <li>
      <h4>
        {% if item.url.length > 0 %}
          <a style="cursor: pointer" href="{{item.url}}" target="_blank">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
      </h4>      
      <span class="date">
        <strong>Date:
        </strong>
        {{ item.date }} |
        <strong>Publication:
        </strong>
        {{ item.publication }} |
        <strong>Format:
        </strong>
        {% if item.format == 1 %}          
          {% if item.url.length > 0 %}
            <a href="{{item.url}}" target="_blank">Online</a>
          {% else %}
            Online
          {% endif %}
        {% else %}
          Print
        {% endif %}        
      </span>
      {% if item.description %}
        {{ item.description }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %}

{% include "coffee.html" %}