---js
{
  "title":"Online References",
  "description": "Lists external sites that mention me and/or my work.",  
  "layout": "generic",
  "pagination": {
    "data": "references",
    "size": 20,
    "alias": "items",
    "reverse": true,
    "before": function(data, fullData) { 
      return Array.from(data).sort((a, b) => {
        return a.date > b.date ? 1 : -1;
      });
    }
  },
  "headerImage": "/images/headers/header-references.jpg",
  "headerImageAltText": "An image of a bunch of paperclips",
  "headerImageAttribution": "Photo by <a href=\"https://unsplash.com/@dancristianpaduret?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash\">Dan Cristian Pădureț</a> on <a href=\"https://unsplash.com/photos/multi-colored-paper-clips-on-black-surface-Oj7nnln5k3k?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash\">Unsplash</a>"
}
---

<p>Every once in a while someone references me or my work in an external site. This page lists those references.</p>

{% include 'pagination-count.html' %}

<ul class="posts">
  {% for item in items %}
    <li>
      <h4>
        {% if item.url.length > 0 %}
          <a style="cursor: pointer" href="{{item.url}}" target="_blank">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
      </h4>
      <span class="date">
        <strong>Date:
        </strong>
        {{ item.date }}
      </span>
      {% if item.description %}
        {{ item.description }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %}
