---
siteTitle: John M. Wargo
---

<!DOCTYPE HTML>
<!--
Faction by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>

  <head>
    <title>{{ siteTitle }}: {{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ "/" | htmlBaseUrl }}assets/css/main.css" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    {% include 'google-analytics.html' %}
  </head>

  <body class="is-preload">
    {% include 'header.html' %}
    <div class="wrapper">
      <section class="main">
        <section>
          <header>
            <h1>{{ title }}
            </h1>
          </header>
          {{ content }}
        </section>
      </section>
    </div>

    <footer id="footer">
      {% include 'copyright.html' %}
    </footer>

    {% include 'page-scripts.html' %}

  </body>

</html>