---
siteTitle: John M. Wargo
---

<!DOCTYPE HTML>
<!--
Faction by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
-->
<html>

<head>
  <title>{{ title }}: {{ siteTitle }}</title>
  {% include "metadata.html" %}
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="{{ '/' | htmlBaseUrl }}assets/css/main.css" />
  {% if page.url startswith '/about/'  %}
    <link rel="stylesheet" href="{{ '/' | htmlBaseUrl }}assets/css/sites.css" />
  {% endif %}
  <link rel="stylesheet" href="{{ '/' | htmlBaseUrl }}assets/css/scott.css" />
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  {% if page.url startswith '/posts'  %}
    <link rel="stylesheet" href="/assets/css/photoswipe.css">
  {% endif %}
  {% include 'icons.html' %}
  {% include 'google-analytics.html' %}
</head>

<body class="is-preload">
  {% include 'header.html' %}
  <div class="wrapper">
    <section class="main">
      <section>
        {% if page.url contains '/sightings/' %}
          <p>Back to <a href="/sightings">Sightings</a></p>
        {% endif %}
        <header>
          {% if headerImage %}
          <span class="image fit"><img src="{{ headerImage }}" alt="{{ headerImageAltText }}"
              class="image fit" /></span>
          {% else %}
          {% if categories %}
          {% CategoryImage categories %}
          {% endif %}
          {% endif %}
          <h2>
            {{ title }}
          </h2>          
        </header>        
        {{ content }}
        {% if headerImageAttribution %}
        {{ headerImageAttribution }}
        {% else %}
        {% CategoryImageAttribution categories %}
        {% endif %}
      </section>
    </section>
  </div>
  {% include 'footer.html' %}
  {% include 'page-scripts.html' %}
</body>

</html>