---
siteTitle: John M. Wargo
---

<!DOCTYPE HTML>
<!--
Faction by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>

  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="author" content="John M. Wargo">
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if categories.length > 0 %}<meta name="keywords" content="{% GetKeywords categories %}">{% endif %}
    <link rel="manifest" href="/manifest.json">
    <link rel="alternate" type="application/rss+xml" title="John M. Wargo: Tech Tidbits" href="https://johnwargo.com/feed.xml" />
    <link rel="alternate" type="application/json" title="John M. Wargo: Tech Tidbits" href="https://johnwargo.com/feed.json" />
    <link rel="stylesheet" href="{{ '/' | htmlBaseUrl }}assets/css/main.css" />
    <link rel="stylesheet" href="{{ '/' | htmlBaseUrl }}assets/css/scott.css" />
    {% include 'icons.html' %}
    {% include 'google-analytics.html' %}
  </head>

  <body class="is-preload">
    {% include 'header.html' %}
    <div class="wrapper">
      {{ content }}
    </div>
    <script src="{{ '/' | htmlBaseUrl }}assets/js/goodreads.js"></script>
    {% include 'footer.html' %}
    {% include 'page-scripts.html' %}
  </body>

</html>