---
layout: default
---

<header>
  <h2>{{ title }}</h2>
</header>
<p>
  <strong>Posted:
  </strong>
  {{ date | niceDate }} |
  <strong>Categories:</strong>
  {% for cat in categories %}
    <a href="/category/{{ cat | slugify }}">{{ cat }}</a>
    {% unless forloop.last %},&nbsp;
    {% endunless %}
  {% endfor %}
</p>

{{ content }}