---
layout: generic
---

{% assign previousPost = collections.post | getPreviousCollectionItem %}
{% assign nextPost = collections.post | getNextCollectionItem %}
{% include 'pretty-print.html' %}

<p>
  <strong>Posted:
  </strong>{%- if timestamp %}
  {{ timestamp | readableTimestamp }}
  {%- else %}
  {{ date | readableDate }} |
  {%- endif %} |
  <strong>Categories:</strong>
  {% for cat in categories %}
  <a href="/categories/{{ cat | slugify }}">{{ cat }}</a>
  {%- unless forloop.last %},
  {% endunless %}
  {% endfor %}
</p>
{% pageLinks %}
{{ content }}
<hr />
<p>Next and/or Previous Posts<p>
{% if nextPost %}
  <a href="{{ nextPost.url }}" class="button primary">&lt;&lt;&nbsp;{{ nextPost.data.title }}</a>
{% endif %}
{% if previousPost %}
  <a href="{{ previousPost.url }}" class="button primary">{{ previousPost.data.title }}&nbsp;&gt;&gt;</a>
{% endif %}
<br />
