---js
{
  "layout": "category",
  "pagination": {
    "data": "collections.articlesByTimestamp",
    "size": 20,
    "alias": "catposts",
    "before": function(paginationData, fullData){ let data = paginationData.filter((item) => item.data.categories.includes('IBM Lotus Domino')); return Array.from(data).sort((a, b) => { return a.date < b.date ? 1 : -1; });}
  },
  "category": "IBM Lotus Domino",
  "description": "Articles related to IBM Lotus Notes and/or Domino; mostly around development topics.",
  "eleventyComputed": {
    "title": "{{ category }}"
  },
  "permalink": "categories/{{ category | slugify }}/{% if pagination.pageNumber != 0 %}page-{{ pagination.pageNumber }}/{% endif %}"
}
---

{% include 'pagination-count.html' %}

<p>{{ description }}&nbsp;This page lists all posts in the category, in reverse chronological order.</p>

<ul class="posts">
  <li>{% include 'ai-disclaimer.html' %}</li>
  {% for post in catposts %}
    <li>
      <h4>
        <a href="{{post.url}}" style="cursor: pointer">{{ post.data.title }}</a>
      </h4>
      Posted {%- if post.data.timestamp %}
        {{ post.data.timestamp | readableTimestamp }}
        {%- else %}
        {{ post.date | readableDate }}
        {%- endif %}&nbsp;
      {% if post.data.categories.length > 0 %}
        in
        {% for cat in post.data.categories %}
          <a href="/categories/{{ cat | slugify }}">{{ cat }}</a>
          {%- unless forloop.last %},
          {% endunless %}
        {% endfor %}
      {% endif %}
      <br/>
      {% if post.data.description %}
        {% include 'generated.html' %}
      {% else %}
        {% excerpt post %}
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% include 'pagination-nav.html' %}