---
layout: default
pagination:
  data: collections.post
  size: 20
  alias: catposts
  before: function(paginationData, fullData){ return paginationData.filter((item)
    => item.categories.includes("Miscellaneous"));}
category: Miscellaneous
eleventyComputed:
  title: "Category: {{ category }}"
permalink: categories/{{ category }}/{% if pagination.pageNumber != 0 %}page-{{
  pagination.pageNumber }}/{% endif %}
---

<header>
  <h2>Category: {{ category }}</h2>
</header>

<p>All posts for a single category, in reverse chronological order.</p>

{% for post in catposts reversed %}
  <div>
    <a href="{{post.url}}">{{ post.data.title }}</a>, posted {{ post.date | niceDate }}
    {% excerpt post %}
  </div>
{% endfor %}