---
layout: generic
title: Books
description: Lists all the books I published or worked on.
headerImage: /images/headers/header-books.jpg
headerImageAltText: An image of a bunch of my books
headerImageAttribution:
---

{% assign bookList = books | sort | reverse %}

The following section lists all the books I wrote or wrote a portion of.

<ul class="posts">
  {% for book in bookList %}
    <div class="grid left">
      <div class='content'>
        <h3>
          {% if book.url.length > 0 %}
            <a style="cursor: pointer" href="{{book.url}}" target="_blank">{{ book.title }}</a>
          {% else %}
            {{ book.title }}
          {% endif %}
        </h3>
        <span class="date">
          <strong>Published: </strong>{{ book.date | dateOnly }}
        </span>
        <p>{{ book.description }}</p>
      </div>
      {% if book.url.length > 0 %}
        <a style="cursor: pointer" href="{{book.url}}" target="_blank"><img src="{{book.img}}"
          alt="{{ book.title }} cover image" /></a>
      {% else %}
        <img src="{{book.img}}" alt="{{ book.title }} cover image" />
      {% endif %}
    </div>
  {% endfor %}
</ul>
