---
title: Articles
layout: generic
pagination:
  data: collections.post
  size: 20
  alias: posts
  reverse: true
---

{% if pagination.pages.length > 1 %}
  <p>Page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.length }}</p>
{% endif %}

<p>This page lists all articles in reverse chronological order. Use the
  <a href="{{ "/" | htmlBaseUrl }}categories">Categories</a>
  page to view the list of categories or
  <a href="{{ "/" | htmlBaseUrl }}search">Search</a>
  to locate a particular article.</p>

<ul class="posts">
  {% for post in posts %}
    <li>
      <h4>
        <a href="{{post.url}}" style="cursor: pointer">{{ post.data.title }}</a>
      </h4>
      Posted {{ post.date | readableDate }}&nbsp;
      {% if post.data.categories.length > 0 %}
        in
        {% for cat in post.data.categories %}
          <a href="/category/{{ cat | slugify }}">{{ cat }}</a>
          {% unless forloop.last %},&nbsp;
          {% endunless %}
        {% endfor %}
      {% endif %}
      <br/>
      {% excerpt post %}
    </li>
  {% endfor %}
</ul>

{% if pagination.pages.length > 1 %}
  <p>Page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.length }}</p>
  <p>
    {% if pagination.href.previous %}
      <button type="button" onclick="location.href='{{ pagination.href.first }}'">First</button>
      <button type="button" onclick="location.href='{{ pagination.href.previous }}'">Previous</button>
    {% endif %}
    {% if pagination.href.next %}
      <button type="button" onclick="location.href='{{ pagination.href.next }}'">Next</button>
      <button type="button" onclick="location.href='{{ pagination.href.last }}'">Last</button>
    {% endif %}
  </p>
{% endif %}