---
layout: generic
title: Categories
description: Displays a list of all post categories on the site. From here you can click a link to open a page displaying all of the posts for the particular category.
headerImage: /images/headers/header-categories.jpg
headerImageAltText: An image of folders fanned out
headerImageAttribution: Photo by <a href="https://unsplash.com/@aquadrata">Iwona Castiello d'Antonio</a> on <a href="https://unsplash.com/photos/vXwXZS5_HgY">Unsplash</a>
---

{% assign categories = categoryData | sort %}

<p>View all posts for a particular category by clicking on one of the categories listed below. There are {{ categories.length }} categories on the site today.</p>

{% if categories.length > 0 %}
  <table>
    {% tablerow catData in categories cols:2 %}
       <h4>
          <a href="{{ '/' | htmlBaseUrl }}categories/{{ catData.category | slugify }}/">{{ catData.category }}</a>
        </h4>
        {{ catData.count }} Post{%- if catData.count > 1 %}s{% endif %}
        {% if catData.description.length > 0 %}
          | {{ catData.description }}
        {% endif %}
    {% endtablerow %}
  </table>  
{% else %}
    <p>No category data to display (this should never happen).</p>
{% endif %} 
