---
title: Home
description: Internet Home of John M. Wargo
categories:
  - John M. Wargo
  - John Wargo
  - johnwargo
layout: home
---

{% assign latest_posts = collections.post | reverse %}

<section class="main">
  <section>
    <h1>Tech Tidbits & More</h1>
    <p>Welcome to the Internet Home of John M. Wargo; I created this site back in 2009 so I could post articles about things that interested me. Herein you’ll find articles on a lot of different topic areas: Mobile development, Web development, Internet of Things (IoT), and a lot more. Every time I learn some new technology or complete some cool or interesting development or IoT project I publish an article here.</p>
    <p>You’ll also find information about my books, source code projects on GitHub, and articles published in or on other sites or magazines, even videos of my many conference presentations or project demonstrations. I’m also especially fond of the series of Stupid Developer Tricks posts.</p>
    <p>You can view
      <a href="{{ "/" | htmlBaseUrl }}articles">all articles</a>
      in reverse chronological order, or you can find
      <a href="{{ "/" | htmlBaseUrl }}categories">articles by category</a>. Of course, if you can’t find what you need in those views, use
      <a href="{{ "/" | htmlBaseUrl }}search">Search</a>
      to find anything anywhere on the site.</p>
  </section>

  <section>
    <h2>
      <a href="{{ "/" | htmlBaseUrl }}articles">Recent Posts</a>
    </h2>
    <ul class="posts">
      {% for post in latest_posts limit: 10 %}
        <li>
          <h4>
            <a style="cursor: pointer" href="{{post.url}}">{{ post.data.title }}</a>
          </h4>
          <span class="date">
            <strong>
              Date:
            </strong>
            {{ post.date | readableDate }}
            {% if post.data.categories.length > 0 %}
              |
              <strong>
                Categories:
              </strong>
              {% for cat in post.data.categories %}
                <a href="/categories/{{ cat | slugify }}">{{ cat | strip }}</a>
                {%- unless forloop.last %},
                {% endunless %}
              {% endfor %}
            {% endif %}
          </span>
          {% if post.data.description %}
            {{ post.data.description }}
          {% else %}
            {% excerpt post %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <a href="/articles" class="button">See the Full List</a>
  </section>

  <!-- Features -->
  <section class="features alt">
    <article class="icon solid fa-newspaper">
      <a href="{{ "/" | htmlBaseUrl }}articles">
        <h3>All Articles</h3>
      </a>
      <p>View the {{ latest_posts.length | commaize }} articles on this site in reverse chronological order.</p>
    </article>
    <article class="icon solid fa-layer-group">
      <a href="{{ "/" | htmlBaseUrl }}categories">
        <h3>Categories</h3>
      </a>
      <p>View a list of the {{ categoryData.length | commaize }} categories in this site; from there you can drill down into all articles by category in reverse chronological order.</p>
    </article>
    <article class="icon solid fa-book">
      <a href="https://johnwargobooks.com" target="_blank">
        <h3>Books</h3>
      </a>
      <p>View details regarding the books I authored.</p>
    </article>
    <article class="icon solid fa-newspaper">
      <a href="{{ "/" | htmlBaseUrl }}sightings/publications" target="_blank">
        <h3>External Publications</h3>
      </a>
      <p>View a list of all of the articles I published in other publications (besides here).</p>
    </article>
    <article class="icon solid fa-window-restore">
      <a href="{{ "/" | htmlBaseUrl }}projects/" target="_blank">
        <h3>Projects</h3>
      </a>
      <p>View some of my projects that span multiple posts on this site or multiple GitHub repositories.</p>
    </article>
    <article class="icon solid fa-binoculars">
      <a href="{{ "/" | htmlBaseUrl }}sightings">
        <h3>Sightings</h3>
      </a>
      <p>You can find me on more places than this site; the Sightings page lists the other places where you can find stuff I created.</p>
    </article>
    <article class="icon solid fa-code">
      <a href="https://github.com/johnwargo" target="_blank">
        <h3>Code</h3>
      </a>
      <p>View the source code projects in my public GitHub account.</p>
    </article>
    <article class="icon regular fa-calendar">
      <a href="{{ "/" | htmlBaseUrl }}sightings/events">
        <h3>Events</h3>
      </a>
      <p>View a list of all of my upcoming events (conference presentations, product demos, etc.).</p>
    </article>
    <article class="icon fa-window-maximize">
      <a href="{{ "/" | htmlBaseUrl }}sites">
        <h3>Sites</h3>
      </a>
      <p>View a list of the Internet sites I maintain.</p>
    </article>
    <article class="icon fa-paper-plane">
        <h3>Placeholder</h3>      
      <p>Nothing to see here, move along.</p>
    </article>
  </section>
  
</section>

<aside class="sidebar">
  <section>
    <h3>
      <a href="https://www.amazon.com/Learning-Progressive-Apps-Wargo-John-ebook/dp/B084T4JK3S" target="_blank">Learning Progressive Web Apps</a>
    </h3>
    <p>My latest book teaches you how to build Progressive Web apps for desktops and mobile devices.</p>
    <a href="https://www.amazon.com/Learning-Progressive-Apps-Wargo-John-ebook/dp/B084T4JK3S" target="_blank">
      <img src="/images/covers/learning-pwa-160.jpg" />
    </a>
  </section>
  <section>
    <h3>
      <a href="https://www.goodreads.com/user/show/51500942-john-wargo" target="_blank">Reading List</a>
    </h3>
    <div id="readingList">
      <p>Loading Goodreads feed...</p>
    </div>
  </section>
  <section>
    <h3>
      <a href="/popular">Popular Posts</a>
    </h3>
    <p>Length: {{ topPosts.length }} </p>
    <ul>
      {% for item in topPosts limit: 10 %}
        <li>
          <a href="{{ item.url }}">
            {{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h3>
      <a href="https://aworldwithoutapps.com" target="_blank">A World Without Apps</a>
    </h3>
    <p>The latest posts from sister site
      <a href="https://aworldwithoutapps.com" target="_blank">
        <em>A World Without Apps</em>
      </a>.
    </p>
    <ul>
      {% for item in wwa-posts limit: 5 %}
        <li>
          <a href="{{ item.url }}" target="_blank">
            {{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h3>
      <a href="https://www.buymeacoffee.com/johnwargo" target="_blank">Buy Me A Coffee</a>
    </h3>
    <p>If the posts and other content provided here helps you learn something new or solve a problem, consider buying me a coffee.
    </p>
    <ul class="actions">
      <li>
        <a
          href="https://www.buymeacoffee.com/johnwargo"
          class="button"
          target="_blank">Do it!</a>
      </li>
    </ul>
  </section>
  <section>
    <h3>
      <a href="https://www.amazon.com/stores/author/B002BLY6VU/allbooks" target="_blank">Amazon Author Page</a>
    </h3>
    <p>I've published 8 books so far, you can view and order most of them from My Amazon Author Page.
    </p>
    <ul class="actions">
      <li>
        <a
          href="https://www.amazon.com/stores/author/B002BLY6VU/allbooks"
          class="button"
          target="_blank">Learn More</a>
      </li>
    </ul>
  </section>
</aside>