---
title: Home
layout: home
---

{% assign latest_posts = collections.posts | reverse %}

<!-- Main -->
<section class="main">

  <!-- Blurb -->
  <section>
    <h1>Tech Tidbits & More</h1>
    <p>Welcome to the Internet Home of John M. Wargo; I created this site back in 2009 so I could post articles about things that interested me. Herein you’ll find articles on a lot of different topic areas: Mobile development, Web development, Internet of Things (IoT), and a lot more. Every time I learn some new technology or complete some cool or interesting development or IoT project I publish an article here.</p>
    <p>You’ll also find information about my books, source code projects on GitHub, and articles published in or on other sites or magazines, even videos of my many conference presentations or project demonstrations. I’m also especially fond of the series of Stupid Developer Tricks posts.</p>
    <p>You can view
      <a href="{{ "/" | htmlBaseUrl }}articles">all articles</a>
      in reverse chronological order, or you can find
      <a href="{{ "/" | htmlBaseUrl }}categories">articles by category</a>. Of course, if you can’t find what you need in those views, use
      <a href="{{ "/" | htmlBaseUrl }}search">Search</a>
      to find anything anywhere on the site.</p>
  </section>

  <!-- Features -->
  <section class="features alt">
    <article class="icon solid fa-newspaper">
      <a href="{{ "/" | htmlBaseUrl }}articles">
        <h3>Articles</h3>
      </a>
      <p>All the articles published here, in reverse chronological order.</p>
    </article>
    <article class="icon solid fa-layer-group">
      <a href="{{ "/" | htmlBaseUrl }}categories">
        <h3>Categories</h3>
      </a>
      <p>View all articles by category, in reverse chronological order.</p>
    </article>
    <article class="icon solid fa-code">
      <a href="https://johnwargo.io" target="_blank">
        <h3>Code</h3>
      </a>
      <p>View details for my public GitHub repositories.</p>
    </article>
    <article class="icon solid fa-book">
      <a href="https://johnwargobooks.com" target="_blank">
        <h3>Publications</h3>
      </a>
      <p>View information about all of the books I authored (and more).</p>
    </article>
    <article class="icon solid fa-newspaper">
      <a href="https://johnwargobooks.com/articles" target="_blank">
        <h3>External Articles</h3>
      </a>
      <p>View a list of all of the articles I published in external publications.</p>
    </article>
    <article class="icon solid fa-binoculars">
      <a href="{{ "/" | htmlBaseUrl }}sightings">
        <h3>Sightings</h3>
      </a>
      <p>View a list random videos of me presenting topics.</p>
    </article>
    <article class="icon regular fa-calendar">
      <a href="{{ "/" | htmlBaseUrl }}events">
        <h3>Events</h3>
      </a>
      <p>View a list of all of my upcoming events (conference presentations, product demos, etc.).</p>
    </article>
    <article class="icon fa-window-maximize">
      <a href="{{ "/" | htmlBaseUrl }}sites">
        <h3>Sites</h3>
      </a>
      <p>View a list of all of the Internet sites I manage.</p>
    </article>
  </section>

</section>

<aside class="sidebar">
  <!-- Posts -->
  <section>
    <h2>Recent Posts</h2>
    <ul class="posts">
      {% for post in latest_posts limit: 10 %}
        <a style="cursor: pointer" href="{{post.url | slugify}}">{{ post.data.title }}</a>
        <span class="date">{{ post.date | niceDate }}</span>
      {% endfor %}
    </ul>
    <ul class="actions">
      <li>
        <a href="{{ "/" | htmlBaseUrl }}articles" class="button">More Posts</a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Buy Me A Coffee</h2>
    <p>If the posts and other content provided here helps you learn something new or solve a problem, consider buying me a coffee.
    </p>
    <ul class="actions">
      <li>
        <a
          href="https://www.buymeacoffee.com/johnwargo"
          class="button"
          target="_blank">Do it!</a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Amazon Author Page</h2>
    <p>I've published 8 books so far, you can view and order most of them from My Amazon Author Page.
    </p>
    <ul class="actions">
      <li>
        <a
          href="https://www.amazon.com/stores/author/B002BLY6VU/allbooks"
          class="button"
          target="_blank">Learn More</a>
      </li>
    </ul>
  </section>

</aside>