---
title: Home
layout: home
---

<!-- Main -->
<section class="main">

  <!-- Blurb -->
  <section>
    <h1>Tech Tidbits & More</h1>
    <p>Welcome to the Internet Home of John M. Wargo. I created this site back in 2009 so I could post articles about things that interested me. I wasn't sure at that time what that would be, but I was knee deep in
    </p>
    <p>Bresaola corned beef tri-tip, kevin buffalo ball tip salami boudin shoulder chicken sausage picanha swine pastrami. Short ribs shoulder biltong sirloin meatloaf pastrami. Ground round shoulder leberkas prosciutto, meatloaf pig flank cow corned beef. Frankfurter spare ribs tri-tip meatball salami burgdoggen jerky andouille bacon sausage brisket tail kevin t-bone.</p>
    <p>Tail shank bacon swine, venison tongue chicken turducken cupim. Short ribs chislic shoulder, venison pastrami ham hock short loin pork belly turducken tongue frankfurter. Jerky meatball ham hamburger pork filet mignon boudin chislic prosciutto chuck alcatra turducken. Porchetta pork strip steak beef sirloin tri-tip cupim cow picanha chislic tongue meatloaf buffalo ball tip pork belly. Leberkas cupim ground round ham ham hock ribeye, meatball pastrami beef ribs capicola alcatra rump sausage.</p>
  </section>

  <!-- Features -->
  <section class="features alt">
    <article class="icon solid fa-newspaper">
      <a href="{{ "/" | htmlBaseUrl }}articles">
        <h3>Articles</h3>
      </a>
      <p>All the articles published here, in reverse chronological order.</p>
    </article>
    <article class="icon solid fa-layer-group">
      <a href="{{ "/" | htmlBaseUrl }}categories">
        <h3>Categories</h3>
      </a>
      <p>View all articles by category, in reverse chronological order.</p>
    </article>
    <article class="icon solid fa-code">
      <a href="https://johnwargo.io" target="_blank">
        <h3>Code</h3>
      </a>
      <p>View details for my public GitHub repositories.</p>
    </article>
    <article class="icon solid fa-book">
      <a href="https://johnwargobooks.com" target="_blank">
        <h3>Publications</h3>
      </a>
      <p>View information about all of the books I authored (and more).</p>
    </article>
    <article class="icon solid fa-newspaper">
      <a href="https://johnwargobooks.com/articles" target="_blank">
        <h3>External Articles</h3>
      </a>
      <p>View a list of all of the articles I published in external publications.</p>
    </article>
    <article class="icon solid fa-binoculars">
      <a href="{{ "/" | htmlBaseUrl }}sightings">
        <h3>Sightings</h3>
      </a>
      <p>View a list random videos of me presenting topics.</p>
    </article>
    <article class="icon regular fa-calendar">
      <a href="{{ "/" | htmlBaseUrl }}events">
        <h3>Events</h3>
      </a>
      <p>View a list of all of my upcoming events (conference presentations, product demos, etc.).</p>
    </article>
    <article class="icon fa-window-maximize">
      <a href="{{ "/" | htmlBaseUrl }}sites">
        <h3>Sites</h3>
      </a>
      <p>View a list of all of the Internet sites I manage.</p>
    </article>

  </section>

  <!-- Spotlights -->
  <section class="spotlights alt">
    <article>
      <a href="#" class="image fit"><img src="images/pic01.jpg" alt=""></a>
      <h3>Sit amet posuere risus amet lorem faucibus lectus</h3>
      <p>Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac magna consequat.</p>
      <ul class="actions">
        <li>
          <a href="#" class="button">Learn More</a>
        </li>
      </ul>
    </article>
    <article>
      <a href="#" class="image fit"><img src="images/pic02.jpg" alt=""></a>
      <h3>Ante sed fermentum tempus vitae eleifend magna</h3>
      <p>Quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis felis elementum.</p>
      <ul class="actions">
        <li>
          <a href="#" class="button">Learn More</a>
        </li>
      </ul>
    </article>
    <article>
      <a href="#" class="image fit"><img src="images/pic03.jpg" alt=""></a>
      <h3>Lorem ipsum dolor sit amet consectetur adipiscing</h3>
      <p>Purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
      <ul class="actions">
        <li>
          <a href="#" class="button">Learn More</a>
        </li>
      </ul>
    </article>
    <article>
      <a href="#" class="image fit"><img src="images/pic04.jpg" alt=""></a>
      <h3>Duis vulputate amet tincidunt lacinia velit aliquet</h3>
      <p>Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt lorem ipsum dolor sit amet.</p>
      <ul class="actions">
        <li>
          <a href="#" class="button">Learn More</a>
        </li>
      </ul>
    </article>
  </section>

</section>