---
title: Site Statistics
layout: generic
---

{% assign lastIndex = collections.posts.length | minus: 1 %}

<table>
  <thead>
    <tr>
      <th>Statistic</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Posts</td>
      <td>{{ collections.posts.length | commaize }}
      </td>
    </tr>
    <tr>
      <td>First Post</td>
      <td>{{ collections.posts[0].date | date: "%B %-d, %Y" }}</td>
    </tr>
    <tr>
      <td>Latest Post</td>
      <td>
        {{ collections.posts[lastIndex].date | date: "%B %-d, %Y" }}</td>
    </tr>
    <tr>
      <td>Deployments</td>
      <td>{{ buildinfo.buildCounter | commaize }}</td>
    </tr>
    <tr>
      <td>Build Date</td>
      <td>{{ buildinfo.buildDateStr }}</td>
    </tr>
    <tr>
      <td>Build Version</td>
      <td>{{ buildinfo.buildVersion }}</td>
    </tr>
  </tbody>
</table>